body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-content{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 720px;
    margin-left:calc(50% - 640px);
}

.column{
    width: 263px;
    height: 502px;
}

.image-container{
    position: relative;
}

.number{
    margin: 0;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    border: #51c3cd 5px solid;
    position: absolute;
    top: -32px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.one{
    border-color: #51c3cd;
    color: #51c3cd;
}

.two{
    border-color: #3a6ec1;
    color: #3a6ec1;

}

.three{
    border-color: #f34d33;
    color: #f34d33;
}

.four{
    border-color: #919191;
    color: #919191;
}

.icon{
    width: 230px;
    height: 230px;
    margin-top: 32px;
    margin-left: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-left: 33px;
    text-align: center;
    color: #f34d33;
}

p{
    margin-left: 33px;
}

.rocket{
    width: 80%;
}

.head{
    width: 70%;
}

.people{
    width: 60%;
}

.arrow{
    width: 70%;
}

.rocket-home{
    background-color: #51c3cd;
    color: #51c3cd;
}

.head-home{
    background-color: #3a6ec1;
    color: #3a6ec1;
}

.people-home{
    background-color: #f34d33;
    color: #f34d33;
}

.arrow-home{
    background-color: #919191;
    color: #919191;
}